/* DS Foundations — generated tokens. */
:root {
  --repeat-colorRed50: #fff8f8;
  --repeat-colorRed100: #ffbeb8;
  --repeat-colorRed200: #ff8b83;
  --repeat-colorRed300: #f9655f;
  --repeat-colorRed400: #f24d4b;
  --repeat-colorRed500: #ef4444;
  --repeat-colorRed600: #e64141;
  --repeat-colorRed700: #ca3938;
  --repeat-colorRed800: #9e2b2a;
  --repeat-colorRed900: #641818;
  --repeat-colorRed950: #220504;
  --repeat-colorBlue50: #eff6ff;
  --repeat-colorBlue100: #dbeafe;
  --repeat-colorBlue200: #bfdbfe;
  --repeat-colorBlue300: #93c5fd;
  --repeat-colorBlue400: #60a5fa;
  --repeat-colorBlue500: #3b82f6;
  --repeat-colorBlue600: #2563eb;
  --repeat-colorBlue700: #1d4ed8;
  --repeat-colorBlue800: #1e40af;
  --repeat-colorBlue900: #1e3a8a;
  --repeat-colorBlue950: #172554;
  --repeat-colorGray50: #f9fafb;
  --repeat-colorGray100: #f3f4f6;
  --repeat-colorGray200: #e5e7eb;
  --repeat-colorGray300: #d1d5db;
  --repeat-colorGray400: #9ca3af;
  --repeat-colorGray500: #6b7280;
  --repeat-colorGray600: #4b5563;
  --repeat-colorGray700: #374151;
  --repeat-colorGray800: #1f2937;
  --repeat-colorGray900: #111827;
  --repeat-colorGray950: #030712;
  --repeat-colorPink50: #fdf2f8;
  --repeat-colorPink100: #fce7f3;
  --repeat-colorPink200: #fbcfe8;
  --repeat-colorPink300: #f9a8d4;
  --repeat-colorPink400: #f472b6;
  --repeat-colorPink500: #ec4899;
  --repeat-colorPink600: #db2777;
  --repeat-colorPink700: #be185d;
  --repeat-colorPink800: #9d174d;
  --repeat-colorPink900: #831843;
  --repeat-colorPink950: #500724;
  --repeat-colorTeal50: #f0fdfa;
  --repeat-colorTeal100: #ccfbf1;
  --repeat-colorTeal200: #99f6e4;
  --repeat-colorTeal300: #5eead4;
  --repeat-colorTeal400: #2dd4bf;
  --repeat-colorTeal500: #14b8a6;
  --repeat-colorTeal600: #0d9488;
  --repeat-colorTeal700: #0f766e;
  --repeat-colorTeal800: #115e59;
  --repeat-colorTeal900: #134e4a;
  --repeat-colorTeal950: #042f2e;
  --repeat-colorGreen50: #f0fdf4;
  --repeat-colorGreen100: #dcfce7;
  --repeat-colorGreen200: #bbf7d0;
  --repeat-colorGreen300: #86efac;
  --repeat-colorGreen400: #4ade80;
  --repeat-colorGreen500: #22c55e;
  --repeat-colorGreen600: #16a34a;
  --repeat-colorGreen700: #15803d;
  --repeat-colorGreen800: #166534;
  --repeat-colorGreen900: #14532d;
  --repeat-colorGreen950: #052e16;
  --repeat-colorIndigo50: #eef2ff;
  --repeat-colorIndigo100: #e0e7ff;
  --repeat-colorIndigo200: #c7d2fe;
  --repeat-colorIndigo300: #a5b4fc;
  --repeat-colorIndigo400: #818cf8;
  --repeat-colorIndigo500: #6366f1;
  --repeat-colorIndigo600: #4f46e5;
  --repeat-colorIndigo700: #4338ca;
  --repeat-colorIndigo800: #3730a3;
  --repeat-colorIndigo900: #312e81;
  --repeat-colorIndigo950: #1e1b4b;
  --repeat-colorOrange50: #fff7ed;
  --repeat-colorOrange100: #ffedd5;
  --repeat-colorOrange200: #fed7aa;
  --repeat-colorOrange300: #fdba74;
  --repeat-colorOrange400: #fb923c;
  --repeat-colorOrange500: #f97316;
  --repeat-colorOrange600: #ea580c;
  --repeat-colorOrange700: #c2410c;
  --repeat-colorOrange800: #9a3412;
  --repeat-colorOrange900: #7c2d12;
  --repeat-colorOrange950: #431407;
  --repeat-colorPurple50: #faf5ff;
  --repeat-colorPurple100: #f3e8ff;
  --repeat-colorPurple200: #e9d5ff;
  --repeat-colorPurple300: #d8b4fe;
  --repeat-colorPurple400: #c084fc;
  --repeat-colorPurple500: #a855f7;
  --repeat-colorPurple600: #9333ea;
  --repeat-colorPurple700: #7e22ce;
  --repeat-colorPurple800: #6b21a8;
  --repeat-colorPurple900: #581c87;
  --repeat-colorPurple950: #3b0764;
  --repeat-colorYellow50: #fefce8;
  --repeat-colorYellow100: #fef9c3;
  --repeat-colorYellow200: #fef08a;
  --repeat-colorYellow300: #fde047;
  --repeat-colorYellow400: #facc15;
  --repeat-colorYellow500: #eab308;
  --repeat-colorYellow600: #ca8a04;
  --repeat-colorYellow700: #a16207;
  --repeat-colorYellow800: #854d0e;
  --repeat-colorYellow900: #713f12;
  --repeat-colorYellow950: #422006;
  --repeat-colorNeutral50: #fafafa;
  --repeat-colorNeutral100: #f5f5f5;
  --repeat-colorNeutral200: #e5e5e5;
  --repeat-colorNeutral300: #d4d4d4;
  --repeat-colorNeutral400: #a3a3a3;
  --repeat-colorNeutral500: #737373;
  --repeat-colorNeutral600: #525252;
  --repeat-colorNeutral700: #404040;
  --repeat-colorNeutral800: #262626;
  --repeat-colorNeutral900: #171717;
  --repeat-colorNeutral950: #0a0a0a;
  --repeat-colorPrimary50: var(--repeat-colorBlue50);
  --repeat-colorPrimary100: var(--repeat-colorBlue100);
  --repeat-colorPrimary200: var(--repeat-colorBlue200);
  --repeat-colorPrimary300: var(--repeat-colorBlue300);
  --repeat-colorPrimary400: var(--repeat-colorBlue400);
  --repeat-colorPrimary500: var(--repeat-colorBlue500);
  --repeat-colorPrimary600: var(--repeat-colorBlue600);
  --repeat-colorPrimary700: var(--repeat-colorBlue700);
  --repeat-colorPrimary800: var(--repeat-colorBlue800);
  --repeat-colorPrimary900: var(--repeat-colorBlue900);
  --repeat-colorPrimary950: var(--repeat-colorBlue950);
  --repeat-colorSuccess50: var(--repeat-colorGreen50);
  --repeat-colorSuccess100: var(--repeat-colorGreen100);
  --repeat-colorSuccess200: var(--repeat-colorGreen200);
  --repeat-colorSuccess300: var(--repeat-colorGreen300);
  --repeat-colorSuccess400: var(--repeat-colorGreen400);
  --repeat-colorSuccess500: var(--repeat-colorGreen500);
  --repeat-colorSuccess600: var(--repeat-colorGreen600);
  --repeat-colorSuccess700: var(--repeat-colorGreen700);
  --repeat-colorSuccess800: var(--repeat-colorGreen800);
  --repeat-colorSuccess900: var(--repeat-colorGreen900);
  --repeat-colorSuccess950: var(--repeat-colorGreen950);
  --repeat-colorWarning50: var(--repeat-colorYellow50);
  --repeat-colorWarning100: var(--repeat-colorYellow100);
  --repeat-colorWarning200: var(--repeat-colorYellow200);
  --repeat-colorWarning300: var(--repeat-colorYellow300);
  --repeat-colorWarning400: var(--repeat-colorYellow400);
  --repeat-colorWarning500: var(--repeat-colorYellow500);
  --repeat-colorWarning600: var(--repeat-colorYellow600);
  --repeat-colorWarning700: var(--repeat-colorYellow700);
  --repeat-colorWarning800: var(--repeat-colorYellow800);
  --repeat-colorWarning900: var(--repeat-colorYellow900);
  --repeat-colorWarning950: var(--repeat-colorYellow950);
  --repeat-colorError50: var(--repeat-colorRed50);
  --repeat-colorError100: var(--repeat-colorRed100);
  --repeat-colorError200: var(--repeat-colorRed200);
  --repeat-colorError300: var(--repeat-colorRed300);
  --repeat-colorError400: var(--repeat-colorRed400);
  --repeat-colorError500: var(--repeat-colorRed500);
  --repeat-colorError600: var(--repeat-colorRed600);
  --repeat-colorError700: var(--repeat-colorRed700);
  --repeat-colorError800: var(--repeat-colorRed800);
  --repeat-colorError900: var(--repeat-colorRed900);
  --repeat-colorError950: var(--repeat-colorRed950);
  --repeat-colorInfo50: var(--repeat-colorBlue50);
  --repeat-colorInfo100: var(--repeat-colorBlue100);
  --repeat-colorInfo200: var(--repeat-colorBlue200);
  --repeat-colorInfo300: var(--repeat-colorBlue300);
  --repeat-colorInfo400: var(--repeat-colorBlue400);
  --repeat-colorInfo500: var(--repeat-colorBlue500);
  --repeat-colorInfo600: var(--repeat-colorBlue600);
  --repeat-colorInfo700: var(--repeat-colorBlue700);
  --repeat-colorInfo800: var(--repeat-colorBlue800);
  --repeat-colorInfo900: var(--repeat-colorBlue900);
  --repeat-colorInfo950: var(--repeat-colorBlue950);
  --repeat-gridGutterLg: var(--repeat-sizesScale2xl);
  --repeat-gridGutterMd: var(--repeat-sizesScaleXl);
  --repeat-gridGutterSm: var(--repeat-sizesScaleLg);
  --repeat-gridGutterXl: var(--repeat-sizesScale2xl);
  --repeat-gridMarginLg: var(--repeat-sizesScale3xl);
  --repeat-gridMarginMd: var(--repeat-sizesScale3xl);
  --repeat-gridMarginSm: var(--repeat-sizesScaleLg);
  --repeat-gridMarginXl: var(--repeat-sizesScale4xl);
  --repeat-gridColumnsLg: 12;
  --repeat-gridColumnsMd: 8;
  --repeat-gridColumnsSm: 4;
  --repeat-gridColumnsXl: 12;
  --repeat-gridBreakpointsLg: 1024px;
  --repeat-gridBreakpointsMd: 768px;
  --repeat-gridBreakpointsSm: 640px;
  --repeat-gridBreakpointsXl: 1280px;
  --repeat-iconLg: var(--repeat-sizesScale3xl);
  --repeat-iconMd: var(--repeat-sizesScale2xl);
  --repeat-iconSm: var(--repeat-sizesScaleXl);
  --repeat-sizesScaleLg: 12px;
  --repeat-sizesScaleMd: 10px;
  --repeat-sizesScaleSm: 8px;
  --repeat-sizesScaleXl: 16px;
  --repeat-sizesScaleXs: 6px;
  --repeat-sizesScale2xl: 20px;
  --repeat-sizesScale2xs: 4px;
  --repeat-sizesScale3xl: 24px;
  --repeat-sizesScale3xs: 3px;
  --repeat-sizesScale4xl: 32px;
  --repeat-sizesScale4xs: 2px;
  --repeat-sizesScale5xl: 48px;
  --repeat-sizesScale5xs: 1px;
  --repeat-sizesScale6xl: 64px;
  --repeat-sizesScale7xl: 80px;
  --repeat-sizesScale8xl: 96px;
  --repeat-sizesScale9xl: 128px;
  --repeat-sizesScale10xl: 160px;
  --repeat-sizesScale11xl: 192px;
  --repeat-sizesScale12xl: 256px;
  --repeat-sizesScale13xl: 320px;
  --repeat-sizesScale14xl: 384px;
  --repeat-sizesScale15xl: 448px;
  --repeat-sizesScaleNone: 0px;
  --repeat-motionDurationFast: 120ms;
  --repeat-motionDurationSlow: 400ms;
  --repeat-motionDurationMedium: 240ms;
  --repeat-motionDurationSlower: 600ms;
  --repeat-motionDurationInstant: 0ms;
  --repeat-radiusLg: var(--repeat-sizesScaleLg);
  --repeat-radiusMd: var(--repeat-sizesScaleSm);
  --repeat-radiusSm: var(--repeat-sizesScaleXs);
  --repeat-radiusXl: var(--repeat-sizesScaleXl);
  --repeat-radiusXs: var(--repeat-sizesScale2xs);
  --repeat-radius2xl: var(--repeat-sizesScale3xl);
  --repeat-radius3xl: var(--repeat-sizesScale4xl);
  --repeat-radiusFull: 9999px;
  --repeat-radiusNone: 0px;
  --repeat-shadowColor: var(--repeat-colorNeutral950);
  --repeat-shadowLevelsLg: 0px var(--repeat-sizesScaleSm) var(--repeat-sizesScaleXl) 0px rgb(10 10 10 / 0.08), 0px var(--repeat-sizesScaleXs) var(--repeat-sizesScaleSm) 0px rgb(10 10 10 / 0.04);
  --repeat-shadowLevelsMd: 0px var(--repeat-sizesScaleXs) var(--repeat-sizesScaleSm) 0px rgb(10 10 10 / 0.08), 0px var(--repeat-sizesScale2xs) var(--repeat-sizesScaleXs) 0px rgb(10 10 10 / 0.04);
  --repeat-shadowLevelsSm: 0px var(--repeat-sizesScale3xs) var(--repeat-sizesScale2xs) 0px rgb(10 10 10 / 0.08), 0px var(--repeat-sizesScale3xs) var(--repeat-sizesScale3xs) 0px rgb(10 10 10 / 0.04);
  --repeat-shadowLevelsXl: 0px var(--repeat-sizesScaleLg) var(--repeat-sizesScale3xl) 0px rgb(10 10 10 / 0.08), 0px var(--repeat-sizesScaleSm) var(--repeat-sizesScaleLg) 0px rgb(10 10 10 / 0.04);
  --repeat-shadowLevelsXs: 0px var(--repeat-sizesScale3xs) var(--repeat-sizesScale3xs) 0px rgb(10 10 10 / 0.04);
  --repeat-shadowLevels2xl: 0px var(--repeat-sizesScaleXl) var(--repeat-sizesScale4xl) 0px rgb(10 10 10 / 0.16), 0px var(--repeat-sizesScaleLg) var(--repeat-sizesScaleXl) 0px rgb(10 10 10 / 0.08);
  --repeat-shadowLevelsNone: none;
  --repeat-zIndex10: 10;
  --repeat-zIndex20: 20;
  --repeat-zIndex30: 30;
  --repeat-zIndex40: 40;
  --repeat-zIndex50: 50;
  --repeat-zIndex9999: 9999;
  --repeat-opacity0: 0;
  --repeat-opacity4: 0.04;
  --repeat-opacity8: 0.08;
  --repeat-opacity16: 0.16;
  --repeat-opacity32: 0.32;
  --repeat-opacity48: 0.48;
  --repeat-opacity64: 0.64;
  --repeat-opacity80: 0.8;
  --repeat-opacity100: 1;
  --repeat-spacingLg: var(--repeat-sizesScaleXl);
  --repeat-spacingMd: var(--repeat-sizesScaleLg);
  --repeat-spacingSm: var(--repeat-sizesScaleSm);
  --repeat-spacingXl: var(--repeat-sizesScale3xl);
  --repeat-spacingXs: var(--repeat-sizesScaleXs);
  --repeat-spacing2xl: var(--repeat-sizesScale4xl);
  --repeat-spacing2xs: var(--repeat-sizesScale2xs);
  --repeat-spacing3xl: var(--repeat-sizesScale5xl);
  --repeat-typographyBase: 16px;
  --repeat-typographyRolesBodyStepsMdFontSize: var(--repeat-typographyScaleFontSize350);
  --repeat-typographyRolesBodyStepsMdFontWeight: var(--repeat-typographyWeightsRegular);
  --repeat-typographyRolesBodyStepsMdLineHeight: var(--repeat-typographyScaleLineHeight400);
  --repeat-typographyRolesBodyStepsMdLetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesBodyStepsSmFontSize: var(--repeat-typographyScaleFontSize300);
  --repeat-typographyRolesBodyStepsSmFontWeight: var(--repeat-typographyWeightsRegular);
  --repeat-typographyRolesBodyStepsSmLineHeight: var(--repeat-typographyScaleLineHeight300);
  --repeat-typographyRolesBodyStepsSmLetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesBodyStepsXsFontSize: var(--repeat-typographyScaleFontSize250);
  --repeat-typographyRolesBodyStepsXsFontWeight: var(--repeat-typographyWeightsRegular);
  --repeat-typographyRolesBodyStepsXsLineHeight: var(--repeat-typographyScaleLineHeight250);
  --repeat-typographyRolesBodyStepsXsLetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesBodyStepsMdSemiboldFontSize: var(--repeat-typographyScaleFontSize350);
  --repeat-typographyRolesBodyStepsMdSemiboldFontWeight: var(--repeat-typographyWeightsSemibold);
  --repeat-typographyRolesBodyStepsMdSemiboldLineHeight: var(--repeat-typographyScaleLineHeight400);
  --repeat-typographyRolesBodyStepsMdSemiboldLetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesBodyStepsSmSemiboldFontSize: var(--repeat-typographyScaleFontSize300);
  --repeat-typographyRolesBodyStepsSmSemiboldFontWeight: var(--repeat-typographyWeightsSemibold);
  --repeat-typographyRolesBodyStepsSmSemiboldLineHeight: var(--repeat-typographyScaleLineHeight300);
  --repeat-typographyRolesBodyStepsSmSemiboldLetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesBodyStepsXsSemiboldFontSize: var(--repeat-typographyScaleFontSize250);
  --repeat-typographyRolesBodyStepsXsSemiboldFontWeight: var(--repeat-typographyWeightsSemibold);
  --repeat-typographyRolesBodyStepsXsSemiboldLineHeight: var(--repeat-typographyScaleLineHeight250);
  --repeat-typographyRolesBodyStepsXsSemiboldLetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesBodyFamily: var(--repeat-typographyFamiliesSans);
  --repeat-typographyRolesCaptionStepsMdFontSize: var(--repeat-typographyScaleFontSize200);
  --repeat-typographyRolesCaptionStepsMdFontWeight: var(--repeat-typographyWeightsRegular);
  --repeat-typographyRolesCaptionStepsMdLineHeight: var(--repeat-typographyScaleLineHeightB180);
  --repeat-typographyRolesCaptionStepsMdLetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesCaptionStepsSmFontSize: var(--repeat-typographyScaleFontSizeB120);
  --repeat-typographyRolesCaptionStepsSmFontWeight: var(--repeat-typographyWeightsRegular);
  --repeat-typographyRolesCaptionStepsSmLineHeight: var(--repeat-typographyScaleLineHeightB160);
  --repeat-typographyRolesCaptionStepsSmLetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesCaptionStepsXsFontSize: var(--repeat-typographyScaleFontSizeB110);
  --repeat-typographyRolesCaptionStepsXsFontWeight: var(--repeat-typographyWeightsRegular);
  --repeat-typographyRolesCaptionStepsXsLineHeight: var(--repeat-typographyScaleLineHeightB160);
  --repeat-typographyRolesCaptionStepsXsLetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesCaptionFamily: var(--repeat-typographyFamiliesSans);
  --repeat-typographyRolesHeadingsStepsH1FontSize: var(--repeat-typographyScaleFontSize800);
  --repeat-typographyRolesHeadingsStepsH1FontWeight: var(--repeat-typographyWeightsBold);
  --repeat-typographyRolesHeadingsStepsH1LineHeight: var(--repeat-typographyScaleLineHeight800);
  --repeat-typographyRolesHeadingsStepsH1LetterSpacing: var(--repeat-typographyScaleLetterSpacing800);
  --repeat-typographyRolesHeadingsStepsH2FontSize: var(--repeat-typographyScaleFontSize700);
  --repeat-typographyRolesHeadingsStepsH2FontWeight: var(--repeat-typographyWeightsBold);
  --repeat-typographyRolesHeadingsStepsH2LineHeight: var(--repeat-typographyScaleLineHeight700);
  --repeat-typographyRolesHeadingsStepsH2LetterSpacing: var(--repeat-typographyScaleLetterSpacing700);
  --repeat-typographyRolesHeadingsStepsH3FontSize: var(--repeat-typographyScaleFontSize600);
  --repeat-typographyRolesHeadingsStepsH3FontWeight: var(--repeat-typographyWeightsBold);
  --repeat-typographyRolesHeadingsStepsH3LineHeight: var(--repeat-typographyScaleLineHeight600);
  --repeat-typographyRolesHeadingsStepsH3LetterSpacing: var(--repeat-typographyScaleLetterSpacing600);
  --repeat-typographyRolesHeadingsStepsH4FontSize: var(--repeat-typographyScaleFontSize500);
  --repeat-typographyRolesHeadingsStepsH4FontWeight: var(--repeat-typographyWeightsBold);
  --repeat-typographyRolesHeadingsStepsH4LineHeight: var(--repeat-typographyScaleLineHeight500);
  --repeat-typographyRolesHeadingsStepsH4LetterSpacing: var(--repeat-typographyScaleLetterSpacing500);
  --repeat-typographyRolesHeadingsStepsH5FontSize: var(--repeat-typographyScaleFontSize400);
  --repeat-typographyRolesHeadingsStepsH5FontWeight: var(--repeat-typographyWeightsSemibold);
  --repeat-typographyRolesHeadingsStepsH5LineHeight: var(--repeat-typographyScaleLineHeight400);
  --repeat-typographyRolesHeadingsStepsH5LetterSpacing: var(--repeat-typographyScaleLetterSpacing400);
  --repeat-typographyRolesHeadingsStepsH6FontSize: var(--repeat-typographyScaleFontSize300);
  --repeat-typographyRolesHeadingsStepsH6FontWeight: var(--repeat-typographyWeightsRegular);
  --repeat-typographyRolesHeadingsStepsH6LineHeight: var(--repeat-typographyScaleLineHeight300);
  --repeat-typographyRolesHeadingsStepsH6LetterSpacing: var(--repeat-typographyScaleLetterSpacing300);
  --repeat-typographyRolesHeadingsFamily: var(--repeat-typographyFamiliesSans);
  --repeat-typographyScaleFontSize100: 10px;
  --repeat-typographyScaleFontSize200: 13px;
  --repeat-typographyScaleFontSize250: 14px;
  --repeat-typographyScaleFontSize300: 16px;
  --repeat-typographyScaleFontSize350: 18px;
  --repeat-typographyScaleFontSize400: 20px;
  --repeat-typographyScaleFontSize500: 25px;
  --repeat-typographyScaleFontSize600: 31px;
  --repeat-typographyScaleFontSize700: 39px;
  --repeat-typographyScaleFontSize800: 49px;
  --repeat-typographyScaleFontSizeB110: 11px;
  --repeat-typographyScaleFontSizeB120: 12px;
  --repeat-typographyScaleLineHeight100: 15px;
  --repeat-typographyScaleLineHeight200: 19px;
  --repeat-typographyScaleLineHeight250: 20px;
  --repeat-typographyScaleLineHeight300: 24px;
  --repeat-typographyScaleLineHeight400: 26px;
  --repeat-typographyScaleLineHeight500: 30px;
  --repeat-typographyScaleLineHeight600: 37px;
  --repeat-typographyScaleLineHeight700: 43px;
  --repeat-typographyScaleLineHeight800: 54px;
  --repeat-typographyScaleLineHeightB160: 16px;
  --repeat-typographyScaleLineHeightB180: 18px;
  --repeat-typographyScaleLetterSpacing100: 0.02em;
  --repeat-typographyScaleLetterSpacing200: 0.02em;
  --repeat-typographyScaleLetterSpacing300: 0;
  --repeat-typographyScaleLetterSpacing400: 0;
  --repeat-typographyScaleLetterSpacing500: -0.01em;
  --repeat-typographyScaleLetterSpacing600: -0.01em;
  --repeat-typographyScaleLetterSpacing700: -0.02em;
  --repeat-typographyScaleLetterSpacing800: -0.02em;
  --repeat-typographyWeightsBold: 700;
  --repeat-typographyWeightsMedium: 500;
  --repeat-typographyWeightsRegular: 400;
  --repeat-typographyWeightsSemibold: 600;
  --repeat-typographyFamiliesMono: JetBrains Mono, ui-monospace, monospace;
  --repeat-typographyFamiliesSans: Inter, system-ui, sans-serif;
  --repeat-iconInfo: var(--repeat-colorPrimary600);
  --repeat-iconBrand: var(--repeat-colorPrimary600);
  --repeat-iconError: var(--repeat-colorError600);
  --repeat-iconPrimary: var(--repeat-colorNeutral900);
  --repeat-iconSuccess: var(--repeat-colorSuccess600);
  --repeat-iconWarning: var(--repeat-colorWarning600);
  --repeat-iconOnColor: var(--repeat-colorNeutral50);
  --repeat-iconTertiary: var(--repeat-colorNeutral400);
  --repeat-iconSecondary: var(--repeat-colorNeutral700);
  --repeat-iconOnPrimary: var(--repeat-colorNeutral50);
  --repeat-iconOnTertiary: var(--repeat-colorNeutral50);
  --repeat-iconOnSecondary: var(--repeat-colorNeutral50);
  --repeat-textInfo: var(--repeat-colorPrimary600);
  --repeat-textLink: var(--repeat-colorPrimary600);
  --repeat-textBrand: var(--repeat-colorPrimary600);
  --repeat-textError: var(--repeat-colorError600);
  --repeat-textPrimary: var(--repeat-colorNeutral900);
  --repeat-textSuccess: var(--repeat-colorSuccess600);
  --repeat-textWarning: var(--repeat-colorWarning600);
  --repeat-textDisabled: var(--repeat-colorNeutral400);
  --repeat-textTertiary: var(--repeat-colorNeutral500);
  --repeat-textSecondary: var(--repeat-colorNeutral700);
  --repeat-textLinkHover: var(--repeat-colorPrimary700);
  --repeat-textOnInverse: var(--repeat-colorNeutral50);
  --repeat-textOnPrimary: var(--repeat-colorNeutral50);
  --repeat-textOnTertiary: var(--repeat-colorNeutral50);
  --repeat-textOnSecondary: var(--repeat-colorNeutral50);
  --repeat-borderInfo: var(--repeat-colorPrimary500);
  --repeat-borderError: var(--repeat-colorError500);
  --repeat-borderFocus: var(--repeat-colorPrimary500);
  --repeat-borderAccent: var(--repeat-colorPrimary500);
  --repeat-borderCutout: var(--repeat-surfaceDefault);
  --repeat-borderStrong: var(--repeat-colorNeutral500);
  --repeat-borderSubtle: var(--repeat-colorNeutral200);
  --repeat-borderDefault: var(--repeat-colorNeutral300);
  --repeat-borderSuccess: var(--repeat-colorSuccess500);
  --repeat-borderWarning: var(--repeat-colorWarning500);
  --repeat-borderDisabled: var(--repeat-colorNeutral200);
  --repeat-borderStronger: var(--repeat-colorNeutral700);
  --repeat-borderInfoHover: var(--repeat-colorPrimary600);
  --repeat-borderErrorHover: var(--repeat-colorError600);
  --repeat-borderInfoSubtle: var(--repeat-colorPrimary300);
  --repeat-borderErrorSubtle: var(--repeat-colorError300);
  --repeat-borderSuccessHover: var(--repeat-colorSuccess600);
  --repeat-borderWarningHover: var(--repeat-colorWarning600);
  --repeat-borderSuccessSubtle: var(--repeat-colorSuccess300);
  --repeat-borderWarningSubtle: var(--repeat-colorWarning300);
  --repeat-statusInfoBorder: var(--repeat-colorPrimary500);
  --repeat-statusInfoDefault: var(--repeat-colorPrimary500);
  --repeat-statusInfoSurface: var(--repeat-colorPrimary100);
  --repeat-statusInfoOnSurface: var(--repeat-colorPrimary700);
  --repeat-statusErrorBorder: var(--repeat-colorError500);
  --repeat-statusErrorDefault: var(--repeat-colorError500);
  --repeat-statusErrorSurface: var(--repeat-colorError100);
  --repeat-statusErrorOnSurface: var(--repeat-colorError700);
  --repeat-statusNeutralBorder: var(--repeat-colorNeutral600);
  --repeat-statusNeutralDefault: var(--repeat-colorNeutral700);
  --repeat-statusNeutralSurface: var(--repeat-colorNeutral100);
  --repeat-statusNeutralOnSurface: var(--repeat-colorNeutral50);
  --repeat-statusSuccessBorder: var(--repeat-colorSuccess500);
  --repeat-statusSuccessDefault: var(--repeat-colorSuccess500);
  --repeat-statusSuccessSurface: var(--repeat-colorSuccess100);
  --repeat-statusSuccessOnSurface: var(--repeat-colorSuccess700);
  --repeat-statusWarningBorder: var(--repeat-colorWarning500);
  --repeat-statusWarningDefault: var(--repeat-colorWarning500);
  --repeat-statusWarningSurface: var(--repeat-colorWarning100);
  --repeat-statusWarningOnSurface: var(--repeat-colorWarning700);
  --repeat-contentMuted: var(--repeat-colorNeutral500);
  --repeat-contentAccent: var(--repeat-colorPrimary600);
  --repeat-contentSubtle: var(--repeat-colorNeutral700);
  --repeat-contentDefault: var(--repeat-colorNeutral900);
  --repeat-contentInverse: var(--repeat-colorNeutral50);
  --repeat-contentOnInfo: var(--repeat-colorNeutral50);
  --repeat-contentDisabled: var(--repeat-colorNeutral400);
  --repeat-contentOnError: var(--repeat-colorNeutral50);
  --repeat-contentOnAccent: var(--repeat-colorNeutral50);
  --repeat-contentOnSuccess: var(--repeat-colorNeutral50);
  --repeat-contentOnWarning: var(--repeat-colorNeutral900);
  --repeat-contentOnSecondary: var(--repeat-colorNeutral900);
  --repeat-contentOnInfoSubtle: var(--repeat-colorPrimary700);
  --repeat-contentOnErrorSubtle: var(--repeat-colorError700);
  --repeat-contentOnSuccessSubtle: var(--repeat-colorSuccess700);
  --repeat-contentOnWarningSubtle: var(--repeat-colorWarning700);
  --repeat-contentOnAccentDisabled: var(--repeat-colorNeutral50);
  --repeat-surfaceInfo: var(--repeat-colorPrimary500);
  --repeat-surfaceError: var(--repeat-colorError500);
  --repeat-surfaceAccent: var(--repeat-colorPrimary500);
  --repeat-surfaceCanvas: var(--repeat-colorNeutral100);
  --repeat-surfaceSubtle: var(--repeat-colorNeutral100);
  --repeat-surfaceDefault: var(--repeat-colorNeutral50);
  --repeat-surfaceInverse: var(--repeat-colorNeutral900);
  --repeat-surfaceOverlay: var(--repeat-colorNeutral50);
  --repeat-surfaceSuccess: var(--repeat-colorSuccess500);
  --repeat-surfaceWarning: var(--repeat-colorWarning500);
  --repeat-surfaceSecondary: var(--repeat-colorNeutral200);
  --repeat-surfaceInfoHover: var(--repeat-colorPrimary600);
  --repeat-surfaceErrorHover: var(--repeat-colorError600);
  --repeat-surfaceInfoSubtle: var(--repeat-colorPrimary100);
  --repeat-surfaceAccentHover: var(--repeat-colorPrimary600);
  --repeat-surfaceErrorSubtle: var(--repeat-colorError100);
  --repeat-surfaceInfoPressed: var(--repeat-colorPrimary700);
  --repeat-surfaceSubtleHover: var(--repeat-colorNeutral300);
  --repeat-surfaceDefaultHover: var(--repeat-colorNeutral200);
  --repeat-surfaceErrorPressed: var(--repeat-colorError700);
  --repeat-surfaceInfoDisabled: var(--repeat-colorPrimary200);
  --repeat-surfaceInverseHover: var(--repeat-colorNeutral800);
  --repeat-surfaceOverlayHover: #00000014;
  --repeat-surfaceSuccessHover: var(--repeat-colorSuccess600);
  --repeat-surfaceWarningHover: var(--repeat-colorWarning600);
  --repeat-surfaceAccentPressed: var(--repeat-colorPrimary700);
  --repeat-surfaceErrorDisabled: var(--repeat-colorError200);
  --repeat-surfaceSuccessSubtle: var(--repeat-colorSuccess100);
  --repeat-surfaceWarningSubtle: var(--repeat-colorWarning100);
  --repeat-surfaceAccentDisabled: var(--repeat-colorPrimary200);
  --repeat-surfaceDefaultPressed: var(--repeat-colorNeutral300);
  --repeat-surfaceOverlayPressed: #0000001F;
  --repeat-surfaceSecondaryHover: var(--repeat-colorNeutral300);
  --repeat-surfaceSuccessPressed: var(--repeat-colorSuccess700);
  --repeat-surfaceWarningPressed: var(--repeat-colorWarning700);
  --repeat-surfaceDefaultDisabled: var(--repeat-colorNeutral100);
  --repeat-surfaceDefaultSelected: var(--repeat-colorNeutral200);
  --repeat-surfaceSuccessDisabled: var(--repeat-colorSuccess200);
  --repeat-surfaceWarningDisabled: var(--repeat-colorWarning200);
  --repeat-surfaceSecondaryPressed: var(--repeat-colorNeutral400);
  --repeat-surfaceSecondaryDisabled: var(--repeat-colorNeutral100);
  --repeat-surfaceOverlayHoverOnColor: #FFFFFF1F;
  --repeat-surfaceOverlayPressedOnColor: #FFFFFF33;
}
[data-theme="dark"] {
  --repeat-iconInfo: var(--repeat-colorPrimary400);
  --repeat-iconBrand: var(--repeat-colorPrimary400);
  --repeat-iconError: var(--repeat-colorError400);
  --repeat-iconPrimary: var(--repeat-colorNeutral50);
  --repeat-iconSuccess: var(--repeat-colorSuccess400);
  --repeat-iconWarning: var(--repeat-colorWarning400);
  --repeat-iconOnColor: var(--repeat-colorNeutral50);
  --repeat-iconTertiary: var(--repeat-colorNeutral600);
  --repeat-iconSecondary: var(--repeat-colorNeutral300);
  --repeat-iconOnPrimary: var(--repeat-colorNeutral50);
  --repeat-iconOnTertiary: var(--repeat-colorNeutral50);
  --repeat-iconOnSecondary: var(--repeat-colorNeutral50);
  --repeat-textInfo: var(--repeat-colorPrimary400);
  --repeat-textLink: var(--repeat-colorPrimary400);
  --repeat-textBrand: var(--repeat-colorPrimary400);
  --repeat-textError: var(--repeat-colorError400);
  --repeat-textPrimary: var(--repeat-colorNeutral50);
  --repeat-textSuccess: var(--repeat-colorSuccess400);
  --repeat-textWarning: var(--repeat-colorWarning400);
  --repeat-textDisabled: var(--repeat-colorNeutral600);
  --repeat-textTertiary: var(--repeat-colorNeutral500);
  --repeat-textSecondary: var(--repeat-colorNeutral300);
  --repeat-textLinkHover: var(--repeat-colorPrimary300);
  --repeat-textOnInverse: var(--repeat-colorNeutral900);
  --repeat-textOnPrimary: var(--repeat-colorNeutral50);
  --repeat-textOnTertiary: var(--repeat-colorNeutral50);
  --repeat-textOnSecondary: var(--repeat-colorNeutral50);
  --repeat-borderInfo: var(--repeat-colorPrimary400);
  --repeat-borderError: var(--repeat-colorError400);
  --repeat-borderFocus: var(--repeat-colorPrimary400);
  --repeat-borderAccent: var(--repeat-colorPrimary500);
  --repeat-borderCutout: var(--repeat-surfaceDefault);
  --repeat-borderStrong: var(--repeat-colorNeutral500);
  --repeat-borderSubtle: var(--repeat-colorNeutral800);
  --repeat-borderDefault: var(--repeat-colorNeutral700);
  --repeat-borderSuccess: var(--repeat-colorSuccess400);
  --repeat-borderWarning: var(--repeat-colorWarning400);
  --repeat-borderDisabled: var(--repeat-colorNeutral800);
  --repeat-borderStronger: var(--repeat-colorNeutral300);
  --repeat-borderInfoHover: var(--repeat-colorPrimary300);
  --repeat-borderErrorHover: var(--repeat-colorError300);
  --repeat-borderInfoSubtle: var(--repeat-colorPrimary700);
  --repeat-borderErrorSubtle: var(--repeat-colorError700);
  --repeat-borderSuccessHover: var(--repeat-colorSuccess300);
  --repeat-borderWarningHover: var(--repeat-colorWarning300);
  --repeat-borderSuccessSubtle: var(--repeat-colorSuccess700);
  --repeat-borderWarningSubtle: var(--repeat-colorWarning700);
  --repeat-statusInfoBorder: var(--repeat-colorPrimary400);
  --repeat-statusInfoDefault: var(--repeat-colorPrimary400);
  --repeat-statusInfoSurface: var(--repeat-colorPrimary900);
  --repeat-statusInfoOnSurface: var(--repeat-colorPrimary200);
  --repeat-statusErrorBorder: var(--repeat-colorError400);
  --repeat-statusErrorDefault: var(--repeat-colorError400);
  --repeat-statusErrorSurface: var(--repeat-colorError900);
  --repeat-statusErrorOnSurface: var(--repeat-colorError200);
  --repeat-statusNeutralBorder: var(--repeat-colorNeutral600);
  --repeat-statusNeutralDefault: var(--repeat-colorNeutral700);
  --repeat-statusNeutralSurface: var(--repeat-colorNeutral800);
  --repeat-statusNeutralOnSurface: var(--repeat-colorNeutral50);
  --repeat-statusSuccessBorder: var(--repeat-colorSuccess400);
  --repeat-statusSuccessDefault: var(--repeat-colorSuccess400);
  --repeat-statusSuccessSurface: var(--repeat-colorSuccess900);
  --repeat-statusSuccessOnSurface: var(--repeat-colorSuccess200);
  --repeat-statusWarningBorder: var(--repeat-colorWarning400);
  --repeat-statusWarningDefault: var(--repeat-colorWarning400);
  --repeat-statusWarningSurface: var(--repeat-colorWarning900);
  --repeat-statusWarningOnSurface: var(--repeat-colorWarning200);
  --repeat-contentMuted: var(--repeat-colorNeutral500);
  --repeat-contentAccent: var(--repeat-colorPrimary400);
  --repeat-contentSubtle: var(--repeat-colorNeutral300);
  --repeat-contentDefault: var(--repeat-colorNeutral50);
  --repeat-contentInverse: var(--repeat-colorNeutral900);
  --repeat-contentOnInfo: var(--repeat-colorNeutral50);
  --repeat-contentDisabled: var(--repeat-colorNeutral600);
  --repeat-contentOnError: var(--repeat-colorNeutral50);
  --repeat-contentOnAccent: var(--repeat-colorNeutral50);
  --repeat-contentOnSuccess: var(--repeat-colorNeutral50);
  --repeat-contentOnWarning: var(--repeat-colorNeutral50);
  --repeat-contentOnSecondary: var(--repeat-colorNeutral50);
  --repeat-contentOnInfoSubtle: var(--repeat-colorPrimary200);
  --repeat-contentOnErrorSubtle: var(--repeat-colorError200);
  --repeat-contentOnSuccessSubtle: var(--repeat-colorSuccess200);
  --repeat-contentOnWarningSubtle: var(--repeat-colorWarning200);
  --repeat-contentOnAccentDisabled: var(--repeat-colorNeutral50);
  --repeat-surfaceInfo: var(--repeat-colorPrimary400);
  --repeat-surfaceError: var(--repeat-colorError400);
  --repeat-surfaceAccent: var(--repeat-colorPrimary500);
  --repeat-surfaceCanvas: var(--repeat-colorNeutral950);
  --repeat-surfaceSubtle: var(--repeat-colorNeutral800);
  --repeat-surfaceDefault: var(--repeat-colorNeutral900);
  --repeat-surfaceInverse: var(--repeat-colorNeutral100);
  --repeat-surfaceOverlay: var(--repeat-colorNeutral800);
  --repeat-surfaceSuccess: var(--repeat-colorSuccess400);
  --repeat-surfaceWarning: var(--repeat-colorWarning400);
  --repeat-surfaceSecondary: var(--repeat-colorNeutral700);
  --repeat-surfaceInfoHover: var(--repeat-colorPrimary300);
  --repeat-surfaceErrorHover: var(--repeat-colorError300);
  --repeat-surfaceInfoSubtle: var(--repeat-colorPrimary900);
  --repeat-surfaceAccentHover: var(--repeat-colorPrimary400);
  --repeat-surfaceErrorSubtle: var(--repeat-colorError900);
  --repeat-surfaceInfoPressed: var(--repeat-colorPrimary200);
  --repeat-surfaceSubtleHover: var(--repeat-colorNeutral700);
  --repeat-surfaceDefaultHover: var(--repeat-colorNeutral800);
  --repeat-surfaceErrorPressed: var(--repeat-colorError200);
  --repeat-surfaceInfoDisabled: var(--repeat-colorPrimary800);
  --repeat-surfaceInverseHover: var(--repeat-colorNeutral200);
  --repeat-surfaceOverlayHover: #FFFFFF14;
  --repeat-surfaceSuccessHover: var(--repeat-colorSuccess300);
  --repeat-surfaceWarningHover: var(--repeat-colorWarning300);
  --repeat-surfaceAccentPressed: var(--repeat-colorPrimary300);
  --repeat-surfaceErrorDisabled: var(--repeat-colorError800);
  --repeat-surfaceSuccessSubtle: var(--repeat-colorSuccess900);
  --repeat-surfaceWarningSubtle: var(--repeat-colorWarning900);
  --repeat-surfaceAccentDisabled: var(--repeat-colorPrimary800);
  --repeat-surfaceDefaultPressed: var(--repeat-colorNeutral700);
  --repeat-surfaceOverlayPressed: #FFFFFF1F;
  --repeat-surfaceSecondaryHover: var(--repeat-colorNeutral600);
  --repeat-surfaceSuccessPressed: var(--repeat-colorSuccess200);
  --repeat-surfaceWarningPressed: var(--repeat-colorWarning200);
  --repeat-surfaceDefaultDisabled: var(--repeat-colorNeutral900);
  --repeat-surfaceDefaultSelected: var(--repeat-colorNeutral800);
  --repeat-surfaceSuccessDisabled: var(--repeat-colorSuccess800);
  --repeat-surfaceWarningDisabled: var(--repeat-colorWarning800);
  --repeat-surfaceSecondaryPressed: var(--repeat-colorNeutral500);
  --repeat-surfaceSecondaryDisabled: var(--repeat-colorNeutral800);
  --repeat-surfaceOverlayHoverOnColor: #FFFFFF1F;
  --repeat-surfaceOverlayPressedOnColor: #FFFFFF33;
}
